<!DOCTYPE html>
<!-- saved from url=(0020)http://choquevn.com/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi-vn" lang="vi-vn" style="user-select: auto !important">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://plus.google.com/u/0/[B]111876916762424100514[/B]" rel="author">
    <meta name="google-site-verification" content="UoFvPf1-5pyH2B7ZaRLuTwhryGtOopyaxnOsPt7xlFc">

    <meta name="robots" content="noodp, noydir">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index,follow">
    <meta name="geo.placename" content="Place Name">
    <meta content="chợ quê, chợ quê việt nam, chợ việt nam, chợ miền quê" name="geo.region">
    <meta name="geo.position" content="latitude; longitude">
    <meta name="DC.Type" content="chợ quê, chợ quê việt nam, chợ miền quê, chợ miền quê việt nam, chợ thôn quên">
    <link rel="shortcut icon" type="image/x-icon" href="http://choquevn.com/themes/images/favicon.ico">
    <meta property="og:latitude" content="21.0303624">
    <meta property="og:longitude" content="105.8441376">
    <meta property="og:title" content="Chợ Quê Việt Nam">
    <meta property="og:url" content="#">
    <meta property="og:site_name" content="choquevn.com">
    <meta property="og:description" content="Chợ Quê Việt Nam - 0984.845.724 chuyên đồ nông sản quê như: bột tạo màu tự nhiên, đặc sản khắp các vùng miền quê mạng đậm chất và bản sắc dân tộc quê hương Việt Nam.">
    <meta name="msvalidate.01" content="8776AA4776F25490E96ECCE7495A3553">
    <meta name="viewport" content="width=device-width">
    <title>Chợ Quê Việt Nam chuyên bán đồ nông sản quê</title>
    <meta name="keywords" content="chợ quê, chợ quê việt nam, chợ quê, shop chợ quê">
    <meta name="description" content="Chợ Quê Việt Nam - 0984.845.724 chuyên đồ nông sản quê như: bột tạo màu tự nhiên, đặc sản khắp các vùng miền quê mạng đậm chất và bản sắc dân tộc quê hương Việt Nam.">

    <link rel="stylesheet" type="text/css" href="~/ChoQueVN/preset4.css">
    <link rel="stylesheet" type="text/css" href="~/ChoQueVN/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/ChoQueVN/camera.css">
    <link rel="stylesheet" type="text/css" href="~/ChoQueVN/slick.css">
    <link rel="stylesheet" type="text/css" href="~/ChoQueVN/jquery.mmenu.all.css">
    <link rel="stylesheet" type="text/css" href="~/ChoQueVN/common.css">
    <link rel="stylesheet" type="text/css" href="~/ChoQueVN/font-awesome.min.css">
    <!-- Facebook Pixel Code -->
    <script async="" src="~/ChoQueVN/default" charset="UTF-8" crossorigin="*"></script>
    <script async="" src="~/ChoQueVN/analytics.js.tải xuống"></script>
    <script async="" src="~/ChoQueVN/fbevents.js.tải xuống"></script>

    <link href="~/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/Jquery/jquery-3.5.1.min.js"></script>
    <script src="~/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <link href="~/lib/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />
    <link href="~/lib/AdminLTE/css/AdminLTE.min.css" rel="stylesheet" />

    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '275765256227780');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=275765256227780&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body style="user-select: auto !important">

    <div id="wrapper" class="mm-page mm-slideout">

        <div id="header">
            <div class="header-top">
                <div class="container">
                    <div class="logo pull-left">
                        <a href="#" title="chợ quê việt nam">
                            <img src="~/ChoQueVN/logo.png" alt="chợ quê việt nam">
                        </a>
                    </div>
                    <!-- end logo -->
                    <div class="pull-right text-center">
                        <div class="top-right">
                            <p><i class="fa fa-map-marker" style="font-size:15pt"></i>11/60 Nhân Hòa - Q.Thanh Xuân - Tp.Hà Nội</p>
                            <p><i class="fa fa-map-marker" style="font-size:15pt"></i>243/32/7 Hoàng Diệu - P.4 Quận 4 - Tp.HCM</p>
                            <p><i class="fa fa-map-marker" style="font-size:15pt"></i>385/5 Lê Văn Sỹ P.2 Quận Tân Bình TP.HCM</p>

                        </div>
                        <!-- end top-right -->
                        <div style="clear:both"></div>
                        <div class="bot-right">
                            <p><i class="fa fa-phone"></i>Tp.HCM: 0915 731 468 - <span> 0915 434 189</span></p>
                            <p><i class="fa fa-phone"></i>Tp.Hà Nội: 0984 845 724 - <span> 0963.274.216</span></p>
                        </div>
                        <!-- end top-right -->
                    </div>

                    <div class="tm-search pull-left">
                        <a href="#" title="Chợ quê chợ của Việt Nam"><img class="img-responsive" style="position:relative;top:-9px" alt="Chợ quê chợ của Việt Nam" src="~/ChoQueVN/banner.png"></a>
                    </div>
                    <!-- end tm-search -->
                </div>
            </div>
            <!-- end header-top -->
            
            <div class="header-bot" style="background-color:white">
                <div class="col-sm-3"></div>
                <form method="post" action="/Search/">
                    <input type="search" class="col-sm-6" placeholder="Tìm kiếm..." name="Search" id="Search" />
                    <input type="submit" class="col-sm-1" value="Tìm kiếm">
                </form>
            </div>

            <div class="header-bot">
                <div class="container">
                    <div class="tm-menu">
                        <a href="#" class="menu-mobile"><span>Menu</span></a>
                        <ul class="menu">
                            <li><a href="/" class="active actived">Trang chủ</a></li>
                            <li class=""><a href="/Product/index/1" title="Bột lá nếp (Bột lá dứa)" class="item">Bột lá nếp (Bột lá dứa)</a></li>
                            <li class=""><a href="/Product/index/2" title="Bột lá cẩm tím cẩm đỏ" class="item">Bột lá cẩm tím cẩm đỏ</a></li>
                            <li class=""><a href="/Product/index/4" title="Hoa đậu biếc" class="item">Hoa đậu biếc</a></li>
                            <li class=""><a href="/Product/index/5" title="Bột Gấc Khô (Dầu Gấc)" class="item">Bột Gấc Khô (Dầu Gấc)</a></li>
                            <li class=""><a href="/News/index/1" title="Bếp Quê" class="item">Bếp Quê</a></li>
                            <li class=""><a href="/News/index/2" title="Video bếp quê" class="item">Video bếp quê</a></li>
                            <li class=""><a href="/News/index/3" title="Tuyển Dụng" class="item">Tuyển Dụng</a></li>
                            <!--<li>

                                    <ul>
                                        <li><a href="#">Giới thiệu 1</a></li>
                                        <li><a href="#">Giới thiệu 1</a></li>
                                        <li><a href="#">Giới thiệu 1</a></li>
                                        <li><a href="#">Giới thiệu 1</a></li>
                                    </ul>
                                </li>-->

                        </ul>
                    </div>
                    <!-- end tm-menu -->
                </div>
            </div>
            <!-- end header-bot -->
        </div> <!-- end header -->
        <!--end content-->

        <div id="content">
            <div class="container">
                <div class="content-top">

                    <div class="tm-left-ct slider" @if (ViewBag.Style != null) { <text> style="@ViewBag.Style" </text> }>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/ChoQueVN/636130474016109775.png" style="width:1140px;height:200px;" />
                                </div>

                                <div class="item">

                                    <img src="~/ChoQueVN/636130477331769420.png" style="width:1140px;height:200px;"/>
                                </div>

                                <div class="item">
                                    <img src="~/ChoQueVN/636471348212132410.png" style="width:1140px;height:200px;" />
                                </div>

                                <div class="item">

                                    <img src="~/ChoQueVN/636130478628773605.png" style="width:1140px;height:200px;"/>
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- end camera_wrap -->
                    </div>
                    <!-- end slider -->
                    <div class="tm-right-ct list-banner">
                        <ul class="right-show">
                            <li>
                                <div class="detail">
                                    <a href="#" title="" class="img">
                                        <img src="~/ChoQueVN/637015461722787118.png" alt="Cách làm bánh dẻo trung thu màu lá dứa khoai lang tím">
                                    </a>
                                    <h4><a href="#" title="Cách làm bánh dẻo trung thu màu lá dứa khoai lang tím">Cách làm bánh dẻo trung thu màu lá dứa khoai lang tím</a></h4>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="clear"></div>

                </div>
                <!-- end content-top -->
                <div class="content-bot">
                    @RenderBody()
                    <!-- end tm-left-ct -->


                    <div class="tm-right-ct">
                        <div class="tm-support">
                            <h3><i class="tm-ic"></i>Cẩm nang nông sản</h3>
                            <div class="col-xs-6 col-sm-6 hover-link">
                                <a title="Tự tay vào bếp làm thạch rau câu hoa đậu biếc cho ngày hè" href="#"><strong><img class="css-img-dt" alt="Tự tay vào bếp làm thạch rau câu hoa đậu biếc cho ngày hè" src="~/ChoQueVN/637015464523574420.png"></strong></a>
                                <a title="Tự tay vào bếp làm thạch rau câu hoa đậu biếc cho ngày hè" href="#">Tự tay vào bếp làm thạch rau câu hoa...</a>
                            </div>
                            <div class="col-xs-6 col-sm-6 hover-link">
                                <a title="Cách làm mứt dừa màu xanh dương hoa đậu biếc [video]" href="#"><strong><img class="css-img-dt" alt="Cách làm mứt dừa màu xanh dương hoa đậu biếc [video]" src="~/ChoQueVN/636810797440383546.png"></strong></a>
                                <a title="Cách làm mứt dừa màu xanh dương hoa đậu biếc [video]" href="#">Cách làm mứt dừa màu xanh dương hoa...</a>
                            </div>
                            <div class="col-xs-6 col-sm-6 hover-link">
                                <a title="Cách làm mứt dừa màu đỏ bột gấc [Video]" href="#"><strong><img class="css-img-dt" alt="Cách làm mứt dừa màu đỏ bột gấc [Video]" src="~/ChoQueVN/636810541746239485.png"></strong></a>
                                <a title="Cách làm mứt dừa màu đỏ bột gấc [Video]" href="#">Cách làm mứt dừa màu đỏ bột gấc...</a>
                            </div>
                            <div class="col-xs-6 col-sm-6 hover-link">
                                <a title="Cách làm món mứt dừa màu xanh [Video]" href="#"><strong><img class="css-img-dt" alt="Cách làm món mứt dừa màu xanh [Video]" src="~/ChoQueVN/636810537637636918.png"></strong></a>
                                <a title="Cách làm món mứt dừa màu xanh [Video]" href="#">Cách làm món mứt dừa màu xanh...</a>
                            </div>

                        </div>
                        <br style="clear:both">
                        <a title="bột rau củ" href="#"> <img class="img-responsive" alt="bột rau củ" src="~/ChoQueVN/Bot-tao-mau-tu-nhien-cho-que.jpg"></a>
                        <br style="clear:both">
                        <br style="clear:both">
                        <div class="tm-support">
                            <h3><i class="tm-ic"></i>đội ngũ hỗ trợ</h3>
                            <ul>
                                <li>
                                    <div class="detail">
                                        <i class="tm-ic"></i>
                                        <strong>Ms.Hồng Phương</strong>
                                        <span>Điện thoại: 0984.845.724<span class="cls-callname" style="display:none"><a alt="hỗ trợ" title="hỗ trợ" href="tel:0984845724"><img width="30" alt="hỗ trợ trực tuyến" src="~/ChoQueVN/call-name.png"></a><a style="padding:10px" title="hỗ trợ" data-animate="fadeInDown" href="http://zalo.me/0984845724" target="_blank"><img width="36" alt="hỗ trợ trực tuyến zalo" src="~/ChoQueVN/zalo-4.png"></a></span></span>
                                        <span>Email: tuvanchoque@gmail.com</span>
                                        <span>Zalo: 0984.845.724</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail">
                                        <i class="tm-ic"></i>
                                        <strong>Ms.Thu</strong>
                                        <span>Điện thoại: 0915.731.468<span class="cls-callname" style="display:none"><a alt="hỗ trợ" title="hỗ trợ" href="tel:0915731468"><img width="30" alt="hỗ trợ trực tuyến" src="~/ChoQueVN/call-name.png"></a><a style="padding:10px" title="hỗ trợ" data-animate="fadeInDown" href="http://zalo.me/0915731468" target="_blank"><img width="36" alt="hỗ trợ trực tuyến zalo" src="~/ChoQueVN/zalo-8.png"></a></span></span>
                                        <span>Zalo: 0915.434.189</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail">
                                        <i class="tm-ic"></i>
                                        <strong>Ms.Lan</strong>
                                        <span>Điện thoại: 0963.274.216<span class="cls-callname" style="display:none"><a alt="hỗ trợ" title="hỗ trợ" href="tel:0963274216"><img width="30" alt="hỗ trợ trực tuyến" src="~/ChoQueVN/call-name.png"></a><a style="padding:10px" title="hỗ trợ" data-animate="fadeInDown" href="http://zalo.me/0963274216" target="_blank"><img width="36" alt="hỗ trợ trực tuyến zalo" src="~/ChoQueVN/zalo-6.png"></a></span></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="detail">
                                        <i class="tm-ic"></i>
                                        <strong>Ms.Vân</strong>
                                        <span>Điện thoại: 0967.694.021<span class="cls-callname" style="display:none"><a alt="hỗ trợ" title="hỗ trợ" href="tel:0967694021"><img width="30" alt="hỗ trợ trực tuyến" src="~/ChoQueVN/call-name.png"></a><a style="padding:10px" title="hỗ trợ" data-animate="fadeInDown" href="http://zalo.me/0967694021" target="_blank"><img width="36" alt="hỗ trợ trực tuyến zalo" src="~/ChoQueVN/zalo-1.png"></a></span></span>

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tm-support">
                            <h3><i class="tm-ic"></i>Bột tạo màu tự nhiên</h3>
                            <ul>
                                <li class="css-lis tm-ic"><a href="#" title="Bột lá nếp (Bột lá dứa)">Bột lá nếp (Bột lá dứa)</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột lá cẩm tím cẩm đỏ">Bột lá cẩm tím cẩm đỏ</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Tinh bột nghệ nguyên chất">Tinh bột nghệ nguyên chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột Dành Dành">Bột Dành Dành</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Hoa đậu biếc">Hoa đậu biếc</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột củ dền">Bột củ dền</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột Gấc Khô (Dầu Gấc)">Bột Gấc Khô (Dầu Gấc)</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột trà xanh nguyên chất">Bột trà xanh nguyên chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột lá gai nguyên chất">Bột lá gai nguyên chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột khoai lang tím nguyên chất">Bột khoai lang tím nguyên chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Tinh bột nghệ vàng">Tinh bột nghệ vàng</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột bắp cải tím">Bột bắp cải tím</a></li>
                                <li class="css-lis tm-ic"><a href="#2" title="Bột Bí Đỏ Nguyên Chất">Bột Bí Đỏ Nguyên Chất</a></li>
                                <li class="css-lis tm-ic"><a href="#5" title="Bột lá khúc nguyên chất">Bột lá khúc nguyên chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột Lá Dong Nguyên Chất">Bột Lá Dong Nguyên Chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột cà rốt nguyên chất">Bột cà rốt nguyên chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột Lá Riềng Nguyên Chất">Bột Lá Riềng Nguyên Chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột Tỏi Khô Nguyên Chất">Bột Tỏi Khô Nguyên Chất</a></li>
                            </ul>
                        </div>
                        <div class="tm-support">
                            <h3><i class="tm-ic"></i>Sản phẩm tại chợ quê</h3>
                            <ul>
                                <li class="css-lis tm-ic"><a href="#" title="Hoa hòe khô nguyên chất">Hoa hòe khô nguyên chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Trà gạo lứt mát gan giải nhiệt">Trà gạo lứt mát gan giải nhiệt</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Gạo lứt giảm cân">Gạo lứt giảm cân</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột gạo lứt ">Bột gạo lứt </a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Chè vằng - Cao chè vằng">Chè vằng - Cao chè vằng</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Bột yến mạch quaker oats">Bột yến mạch quaker oats</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Giảo cổ lam trị mỡ máu">Giảo cổ lam trị mỡ máu</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Nụ vối thảo dược quý hiếm">Nụ vối thảo dược quý hiếm</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Tâm sen nguyên chất">Tâm sen nguyên chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Trà củ sen">Trà củ sen</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Củ sen sấy khô">Củ sen sấy khô</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Lá sen khô">Lá sen khô</a></li>
                                <li class="css-lis tm-ic"><a href=#" title="Bột sắn dây nguyên chất">Bột sắn dây nguyên chất</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Trà đỗ đỏ">Trà đỗ đỏ</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Trà đậu đen">Trà đậu đen</a></li>
                                <li class="css-lis tm-ic"><a href="#" title="Quả la hán">Quả la hán</a></li>
                            </ul>
                        </div>
                        <!-- end tm-support

                        <div class="banner-qc">
                            <a href="#">
                                <img src="images/banner-qc.jpg" alt="" /></a>
                        </div>-->
                        <!-- end banner-qc -->
                        <!-- <div class="like-box">
                            <a href="#">
                                <img src="images/like-box.jpg" alt="" /></a>
                        </div> -->
                        <!-- end like-box -->
                    </div>

                    <!-- end tm-right-ct -->
                    <div class="clear"></div>
                </div>
                <!-- end content-bot -->
            </div>


            <div class="tm-project">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <h3 class="tm-title" style="color: white">Thông tin khuyến mãi</h3>
                            @foreach (var item in ViewBag.NewsKM)
                            {
                        <div class="col-md-12" style="padding: 5px!important;">
                            <div class="col-xs-12" style="background-color: #eaf8d2; margin-bottom: 10px">
                                <a title="@item.Name" href="/news/detail/@item.ID"><strong>@item.Name</strong></a>
                                <br>
                                @Html.Raw(item.Description)
                                »<a title="@item.Name" href="/news/detail/@item.ID"><strong>Xem chi tiết</strong></a>
                            </div>
                        </div>}
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <h3 class="tm-title" style="color: white">Tin Tức Mới</h3>
                            @foreach (var item in ViewBag.NewNews)
                            {
                        <div class="col-md-12" style="padding: 5px!important;">
                            <div class="col-xs-12" style="background-color: #eaf8d2; margin-bottom: 10px">
                                <a title="@item.Name" href="/news/detail/@item.ID"><strong>@item.Name</strong></a>
                                <br>
                                @Html.Raw(item.Description)
                                »<a title="@item.Name" href="/news/detail/@item.ID"><strong>Xem chi tiết</strong></a>
                            </div>
                        </div>}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end tm-project -->

            @*<section class="sp-block-bottom1">
                <div class="container">
                    <div class="row">
                        <div id="sp-position3" class="col-sm-12 col-md-12">
                            <div class="sp-column ">
                                <div class="sp-module ">
                                    <div class="sp-module-content">

                                        <div class="custom">
                                            <ul class="list-menu-footer">

                                                <li class="item-column">
                                                    <h3 class="parent-title"><strong><a href="http://choquevn.com/bot-la-nep-la-dua-am-thuc/-111" title="Bột lá nếp lá dứa &amp; Ẩm thực">Bột lá nếp lá dứa &amp; Ẩm...</a></strong></h3>
                                                    <ul class="list-menu">
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Hướng dẫn nấu xôi lá nếp - lá dứa" href="http://choquevn.com/huong-dan-nau-xoi-la-nep-la-dua-4254">
                                                                        <img alt="Hướng dẫn nấu xôi lá nếp - lá dứa" src="~/ChoQueVN/636743302420330570.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Hướng dẫn nấu xôi lá nếp - lá dứa" href="http://choquevn.com/huong-dan-nau-xoi-la-nep-la-dua-4254">Hướng dẫn nấu xôi lá nếp - lá dứa</a>
                                                            </div>
                                                        </li>
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Hướng dẫn làm thạch rau câu bột lá nếp - lá dứa" href="http://choquevn.com/huong-dan-lam-thach-rau-cau-bot-la-nep-la-dua-4253">
                                                                        <img alt="Hướng dẫn làm thạch rau câu bột lá nếp - lá dứa" src="~/ChoQueVN/636743031553341439.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Hướng dẫn làm thạch rau câu bột lá nếp - lá dứa" href="http://choquevn.com/huong-dan-lam-thach-rau-cau-bot-la-nep-la-dua-4253">Hướng dẫn làm thạch rau câu bột lá nếp - lá dứa</a>
                                                            </div>
                                                        </li>
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Hướng dẫn làm mứt dừa lá nếp - lá dứa" href="http://choquevn.com/huong-dan-lam-mut-dua-la-nep-la-dua-4252">
                                                                        <img alt="Hướng dẫn làm mứt dừa lá nếp - lá dứa" src="~/ChoQueVN/636742455483351337.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Hướng dẫn làm mứt dừa lá nếp - lá dứa" href="http://choquevn.com/huong-dan-lam-mut-dua-la-nep-la-dua-4252">Hướng dẫn làm mứt dừa lá nếp - lá dứa</a>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="item-column">
                                                    <h3 class="parent-title"><strong><a href="http://choquevn.com/mon-ngon-moi-ngay/-2225" title="Món ngon mỗi ngày">Món ngon mỗi ngày</a></strong></h3>
                                                    <ul class="list-menu">
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="5 món ngon từ bột lá dứa" href="http://choquevn.com/5-mon-ngon-tu-bot-la-dua-4078">
                                                                        <img alt="5 món ngon từ bột lá dứa" src="~/ChoQueVN/636332970082916144.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="5 món ngon từ bột lá dứa" href="http://choquevn.com/5-mon-ngon-tu-bot-la-dua-4078">5 món ngon từ bột lá dứa</a>
                                                            </div>
                                                        </li>
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Món ngon từ gấc cho mâm cơm cuối tuần" href="http://choquevn.com/mon-ngon-tu-gac-cho-mam-com-cuoi-tuan-4005">
                                                                        <img alt="Món ngon từ gấc cho mâm cơm cuối tuần" src="~/ChoQueVN/636130622956268665.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Món ngon từ gấc cho mâm cơm cuối tuần" href="http://choquevn.com/mon-ngon-tu-gac-cho-mam-com-cuoi-tuan-4005">Món ngon từ gấc cho mâm cơm cuối tuần</a>
                                                            </div>
                                                        </li>
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="3 món canh từ củ sen giúp tăng cường sinh lực" href="http://choquevn.com/3-mon-canh-tu-cu-sen-giup-tang-cuong-sinh-luc-3977">
                                                                        <img alt="3 món canh từ củ sen giúp tăng cường sinh lực" src="~/ChoQueVN/636332977173231687.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="3 món canh từ củ sen giúp tăng cường sinh lực" href="http://choquevn.com/3-mon-canh-tu-cu-sen-giup-tang-cuong-sinh-luc-3977">3 món canh từ củ sen giúp tăng cường sinh lực</a>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="item-column">
                                                    <h3 class="parent-title"><strong><a href="http://choquevn.com/bot-la-cam-tim-cam-do-am-thuc/-2229" title="Bột lá cẩm tím, cẩm đỏ &amp; Ẩm thực">Bột lá cẩm tím, cẩm đỏ &amp;...</a></strong></h3>
                                                    <ul class="list-menu">
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Cách làm xôi bánh tiêu độc đáo thơm ngon" href="http://choquevn.com/cach-lam-xoi-banh-tieu-doc-dao-thom-ngon-4250">
                                                                        <img alt="Cách làm xôi bánh tiêu độc đáo thơm ngon" src="~/ChoQueVN/636659214776572229.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Cách làm xôi bánh tiêu độc đáo thơm ngon" href="http://choquevn.com/cach-lam-xoi-banh-tieu-doc-dao-thom-ngon-4250">Cách làm xôi bánh tiêu độc đáo thơm ngon</a>
                                                            </div>
                                                        </li>
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Cách làm sữa chua thạch ngon mát xua tan nắng nóng" href="http://choquevn.com/cach-lam-sua-chua-thach-ngon-mat-xua-tan-nang-nong-4249">
                                                                        <img alt="Cách làm sữa chua thạch ngon mát xua tan nắng nóng" src="~/ChoQueVN/636658606061695730.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Cách làm sữa chua thạch ngon mát xua tan nắng nóng" href="http://choquevn.com/cach-lam-sua-chua-thach-ngon-mat-xua-tan-nang-nong-4249">Cách làm sữa chua thạch ngon mát xua tan nắng nóng</a>
                                                            </div>
                                                        </li>
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Cách làm sữa chua hạt đác đơn giản tại nhà" href="http://choquevn.com/cach-lam-sua-chua-hat-dac-don-gian-tai-nha-4248">
                                                                        <img alt="Cách làm sữa chua hạt đác đơn giản tại nhà" src="~/ChoQueVN/636658520756196534.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Cách làm sữa chua hạt đác đơn giản tại nhà" href="http://choquevn.com/cach-lam-sua-chua-hat-dac-don-gian-tai-nha-4248">Cách làm sữa chua hạt đác đơn giản tại nhà</a>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="item-column">
                                                    <h3 class="parent-title"><strong><a href="http://choquevn.com/bot-la-khuc-am-thuc/-2236" title="Bột lá khúc &amp; Ẩm thực">Bột lá khúc &amp; Ẩm thực</a></strong></h3>
                                                    <ul class="list-menu">
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="5 công dụng trong y học ít người biết từ cây lá khúc" href="http://choquevn.com/5-cong-dung-trong-y-hoc-it-nguoi-biet-tu-cay-la-khuc-4284">
                                                                        <img alt="5 công dụng trong y học ít người biết từ cây lá khúc" src="~/ChoQueVN/636777876512994412.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="5 công dụng trong y học ít người biết từ cây lá khúc" href="http://choquevn.com/5-cong-dung-trong-y-hoc-it-nguoi-biet-tu-cay-la-khuc-4284">5 công dụng trong y học ít người biết từ cây lá khúc</a>
                                                            </div>
                                                        </li>
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Cây lá khúc hỗ trợ điều trị bệnh gout tiết kiệm chi phí" href="http://choquevn.com/cay-la-khuc-ho-tro-dieu-tri-benh-gout-tiet-kiem-chi-phi-4283">
                                                                        <img alt="Cây lá khúc hỗ trợ điều trị bệnh gout tiết kiệm chi phí" src="~/ChoQueVN/636777811896917573.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Cây lá khúc hỗ trợ điều trị bệnh gout tiết kiệm chi phí" href="http://choquevn.com/cay-la-khuc-ho-tro-dieu-tri-benh-gout-tiet-kiem-chi-phi-4283">Cây lá khúc hỗ trợ điều trị bệnh gout tiết kiệm chi phí</a>
                                                            </div>
                                                        </li>
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Điều trị viêm họng bằng thảo dược tự nhiên &quot;cây lá khúc&quot;" href="http://choquevn.com/dieu-tri-viem-hong-bang-thao-duoc-tu-nhien-cay-la-khuc-4282">
                                                                        <img alt="Điều trị viêm họng bằng thảo dược tự nhiên &quot;cây lá khúc&quot;" src="~/ChoQueVN/636777779347472506.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Điều trị viêm họng bằng thảo dược tự nhiên &quot;cây lá khúc&quot;" href="http://choquevn.com/dieu-tri-viem-hong-bang-thao-duoc-tu-nhien-cay-la-khuc-4282">Điều trị viêm họng bằng thảo dược tự nhiên "cây lá khúc"</a>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="item-column">
                                                    <h3 class="parent-title"><strong><a href="http://choquevn.com/video-bep-que/-2243" title="Video học nấu ăn">Video học nấu ăn</a></strong></h3>
                                                    <ul class="list-menu">
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Cách sử dụng hoa đậu biếc khô [video]" href="http://choquevn.com/cach-su-dung-hoa-dau-biec-kho-[video]-4361">
                                                                        <img alt="Cách sử dụng hoa đậu biếc khô [video]" src="~/ChoQueVN/637151876203949144.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Cách sử dụng hoa đậu biếc khô [video]" href="http://choquevn.com/cach-su-dung-hoa-dau-biec-kho-[video]-4361">Cách sử dụng hoa đậu biếc khô [video]</a>
                                                            </div>
                                                        </li>
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Cách làm bánh gai từ bột lá gai nguyên chất" href="http://choquevn.com/cach-lam-banh-gai-tu-bot-la-gai-nguyen-chat-4360">
                                                                        <img alt="Cách làm bánh gai từ bột lá gai nguyên chất" src="~/ChoQueVN/637151041814809294.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Cách làm bánh gai từ bột lá gai nguyên chất" href="http://choquevn.com/cach-lam-banh-gai-tu-bot-la-gai-nguyen-chat-4360">Cách làm bánh gai từ bột lá gai nguyên chất</a>
                                                            </div>
                                                        </li>
                                                        <li class="item-menu">
                                                            <div class="row">
                                                                <div class="col-xs-6 col-sm-6" style="padding: 0px 5px 0px 0px!important">
                                                                    <a title="Cách làm thạch rau câu bột dành dành màu vàng óng thơm ngon" href="http://choquevn.com/cach-lam-thach-rau-cau-bot-danh-danh-mau-vang-ong-thom-ngon-4355">
                                                                        <img alt="Cách làm thạch rau câu bột dành dành màu vàng óng thơm ngon" src="~/ChoQueVN/637146513328346127.png" class="img-responsive" style="min-height:80px">
                                                                    </a>
                                                                </div>
                                                                <a style="display:block; padding-left:5px" title="Cách làm thạch rau câu bột dành dành màu vàng óng thơm ngon" href="http://choquevn.com/cach-lam-thach-rau-cau-bot-danh-danh-mau-vang-ong-thom-ngon-4355">Cách làm thạch rau câu bột dành dành màu vàng óng thơm ngon</a>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@

        </div>




        <div id="footer" style="background-image:url(~/Images/images_layout/bg-footer.jpg) !important">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <h3 class="tm-title">Liên kết hữu ích</h3>
                            <ul class="list-hd">

                                <li><a href="http://choquevn.com/bot-la-cam-tim-nguyen-chat-tu-nhien-dam-bao-vsattp-ban-tai-cho-que-3513" title="bột lá cẩm">Bột lá cẩm</a></li>
                                <li><a href="http://choquevn.com/pho-tai-la-gi-3465" title="phổ tai">Phổ tai rong biển</a></li>
                                <li><a href="http://choquevn.com/quy-trinh-lam-bot-gac-don-gian-dam-bao-chung-nhan-vsattp-4061" title="Bột gấc">Bột gấc khô nguyên chất</a></li>
                                <li><a href="http://choquevn.com/bot-mau-thuc-pham-tu-rau-cu-qua-4175" title="Trà củ sen">Bột màu rau củ</a></li>
                                <li><a href="http://choquevn.com/bot-la-nep-bot-la-dua-co-tac-dung-gi-3496" title="Lá nếp">Lá nếp</a></li>
                                <li><a href="http://choquevn.com/hat-danh-danh-bot-danh-danh-tao-mau-vang-cho-thuc-pham-an-toan-4101" title="bột dành dành">Bột dành dành</a></li>
                                <li><a href="http://choquevn.com/ban-bot-la-khuc-nguyen-chat-100-dam-bao-vsattp-4202" title="bột lá khúc">bột lá khúc</a></li>
                                <li><a href="http://dichvucuacay.com/" title="dịch vụ cắt cây">dịch vụ cắt cây</a></li>
                                <li><a href="http://mauthucphamtunhien.com/san-pham/bot-la-nep-bot-la-dua-nguyen-chat-tu-nhien.html" title="bột lá nếp">bột lá nếp</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-6">
                            <div class="gallery">
                                <h3 class="tm-title">Hình ảnh về sản phẩm Chợ Quê</h3>
                                <ul>
                                    <li>
                                        <a href="http://choquevn.com/san-pham-moi-bot-la-cam-3513" title="bột lá cẩm" class="img">
                                            <img src="~/ChoQueVN/636130474016109775.png" alt="http://choquevn.com/upload/files/slide/636130474016109775.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://choquevn.com/ban-bot-la-gai-nguyen-chat-100-tu-nhien-4172" title="Bột lá gai" class="img">
                                            <img src="~/ChoQueVN/636471348212132410.png" alt="http://choquevn.com/upload/files/bot-la-gai/636471348212132410.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://choquevn.com/hanh-nhan-uc-my/-2198" title="Hạnh nhân úc" class="img">
                                            <img src="~/ChoQueVN/636130477331769420.png" alt="http://choquevn.com/upload/files/slide/636130477331769420.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://choquevn.com/bot-gac-tuoi-nguyen-chat-tai-cho-que-4001" title="Bột gấc" class="img">
                                            <img src="~/ChoQueVN/636130482092721731.png" alt="http://choquevn.com/upload/files/slide/636130482092721731.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://choquevn.com/tac-dung-chua-benh-huu-hieu-than-ky-cua-tinh-bot-nghe-3843" title="Tinh bột nghệ tác dụng thần kỳ" class="img">
                                            <img src="~/ChoQueVN/636130478628773605.png" alt="http://choquevn.com/upload/files/slide/636130478628773605.png">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://choquevn.com/ban-bot-la-khuc-nguyen-chat-100-dam-bao-vsattp-4202" title="Bột lá khúc" class="img">
                                            <img src="~/ChoQueVN/636577305878554146.png" alt="http://choquevn.com/upload/files/slide/636577305878554146.png">
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <h3 class="tm-title">Công ty Cổ phần Chợ Quê Việt Nam</h3>
                            <p class="ct">
                                <span>ĐKKD 0107852078 sở KHĐT Tp. Hà Nội </span>
                                <span>Hà Nội: 11 Ngõ 60 Nhân Hòa - Q.Thanh Xuân - Tp.Hà Nội</span>
                                <span>Tp.HCM: 243/32/7 Hoàng Diệu - P.4 Quận 4 - Tp.HCM</span>
                                <span>Điện thoại: 0984.845.724</span>
                                <span>Di động 1: 0915.731.468</span>
                                <span>Di động 2: 0963.274.216</span>
                                <span>Email: tuvanchoque@gmail.com</span>
                                <span>Sky: tuvanchoque</span>

                                <span>Liên hệ: <a style="color: white" href="http://choquevn.com/lien-he-1362">Thông tin liên hệ</a></span><a style="color: white" href="http://choquevn.com/lien-he-1362">
                                </a>
                            </p><a style="color: white" href="http://choquevn.com/lien-he-1362">
                            </a><a href="http://www.dmca.com/Protection/Status.aspx?ID=62f0e941-cc51-4e22-ba79-973a05f8818e&amp;refurl=http://choquevn.com/" title="DMCA.com Protection Status" class="dmca-badge">
                                <img src="~/ChoQueVN/DMCA_logo-grn-btn150w.png" alt="DMCA.com Protection Status">
                            </a>
                            <script src="~/ChoQueVN/DMCABadgeHelper.min.js.tải xuống"></script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer-top -->
            <div class="footer-bot">
                <div class="container">
                    <p class="pull-left"><a href="http://choquevn.com/chinh-sach-quy-dinh-chung-4205" target="_blank">Chính sách quy định</a> - Bản quyền thuộc về <a title="chợ quê" href="http://choquevn.com/">chợ quê việt nam</a> © 2016 - hệ thống đang trong thời gian thử nghiệm</p>
                    <p class="pull-right">Phát triển bởi <a href="http://choquevn.com/" target="_blank">choquevn.com</a> - Liên kết: <a href="http://maihienxeptienphat.com/" target="_blank">Mái xếp</a></p>
                </div>
            </div>
            <!-- end footer-bot -->
        </div>
        <!-- end footer -->
        <!-- end wrapper -->

        <div id="custom_cf7-2" class="yeucaugoilai cls-callname" style="display: none">
            <a href="tel:0963274216" title="gọi ngay">
                <div class="col-xs-12 col-md-2 description">
                    <div class="phone_animation">
                        <div class="phone_animation_circle"></div>
                        <div class="phone_animation_circle_fill"></div>
                        <div class="phone_animation_circle_fill_img"></div>
                    </div>
                </div>
            </a>
        </div>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-63174811-1', 'auto');
            ga('send', 'pageview');

        </script>
        <!--Start of Tawk.to Script-->
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/57144053de390fbd231da4e0/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <div class="cls-call-action" style="display: none; z-index: 1000!important;">
            <a style="padding: 10px" title="hỗ trợ" data-animate="fadeInDown" href="http://zalo.me/0915434189" target="_blank">
                <img width="45" alt="hỗ trợ trực tuyến zalo" src="~/ChoQueVN/zaloo.png">
            </a>
        </div>

    </div>

    @*<script type="text/javascript" src="~/ChoQueVN/jquery-1.9.1.js.tải xuống"></script>*@
    <!--<script type="text/javascript" src="../scripts/choquehn-v2/smoothscroll.js"></script>-->
    @*<script type="text/javascript" src="~/ChoQueVN/jquery.easing.1.3.js.tải xuống"></script>
    <script type="text/javascript" src="~/ChoQueVN/camera.js.tải xuống"></script>
    <script type="text/javascript" src="~/ChoQueVN/slick.min.js.tải xuống"></script>
    <script type="text/javascript" src="~/ChoQueVN/jquery.mmenu.min.all.js.tải xuống"></script>
    <script type="text/javascript" src="~/ChoQueVN/common.js.tải xuống"></script>*@
    <!-- The Modal -->



    <div id="mm-blocker" class="mm-slideout"></div><div id="dqrQCxv-1599223253652" class="" style="display: block !important;"><iframe id="z45XND1-1599223253653" src="~/ChoQueVN/saved_resource.html" frameborder="0" scrolling="no" title="chat widget" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: auto !important; right: auto !important; bottom: auto !important; left: auto !important; position: static !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 350px !important; height: 520px !important; z-index: 999999 !important; cursor: auto !important; float: none !important; border-radius: unset !important; pointer-events: auto !important; display: none !important;"></iframe><iframe id="AnCcvht-1599223253653" src="~/ChoQueVN/saved_resource(1).html" frameborder="0" scrolling="no" title="chat widget" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; position: fixed !important; border: 0px !important; padding: 0px !important; transition-property: none !important; z-index: 1000001 !important; cursor: auto !important; float: none !important; pointer-events: auto !important; height: 40px !important; min-height: 40px !important; max-height: 40px !important; width: 320px !important; min-width: 320px !important; max-width: 320px !important; border-radius: 0px !important; transform: rotate(0deg) translateZ(0px) !important; transform-origin: 0px center !important; margin: 0px !important; top: auto !important; bottom: 0px !important; right: 10px !important; left: auto !important; display: block !important;"></iframe><iframe id="gNsF9wk-1599223253653" src="~/ChoQueVN/saved_resource(2).html" frameborder="0" scrolling="no" title="chat widget" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; position: fixed !important; border: 0px !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; display: none !important; z-index: 1000003 !important; cursor: auto !important; float: none !important; border-radius: unset !important; pointer-events: auto !important; top: auto !important; bottom: 25px !important; right: 1px !important; left: auto !important; width: 21px !important; max-width: 21px !important; min-width: 21px !important; height: 21px !important; max-height: 21px !important; min-height: 21px !important;"></iframe><iframe id="HJBok2Q-1599223253653" src="~/ChoQueVN/saved_resource(3).html" frameborder="0" scrolling="no" title="chat widget" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; position: fixed !important; border: 0px !important; padding: 0px !important; transition-property: none !important; cursor: auto !important; float: none !important; border-radius: unset !important; pointer-events: auto !important; transform: rotate(0deg) translateZ(0px) !important; transform-origin: 0px center !important; bottom: 0px !important; top: auto !important; right: 0px !important; left: auto !important; width: 220px !important; max-width: 220px !important; min-width: 220px !important; height: 212px !important; max-height: 212px !important; min-height: 212px !important; z-index: 1000002 !important; margin: 0px !important; display: block !important;"></iframe><div class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: auto !important; bottom: auto !important; left: 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 100% !important; height: 100% !important; display: none !important; z-index: 1000001 !important; cursor: move !important; float: left !important; border-radius: unset !important; pointer-events: auto !important;"></div><div id="zWRNoMP-1599223253652" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: auto !important; bottom: auto !important; left: 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 6px !important; height: 100% !important; display: block !important; z-index: 999998 !important; cursor: w-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;"></div><div id="rq48tgb-1599223253652" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: 0px !important; bottom: auto !important; left: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 6px !important; height: 100% !important; display: block !important; z-index: 999998 !important; cursor: e-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;"></div><div id="uRUhCaM-1599223253652" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: 0px !important; bottom: auto !important; left: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 100% !important; height: 6px !important; display: block !important; z-index: 999998 !important; cursor: n-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;"></div><div id="LB0AYGF-1599223253652" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: auto !important; right: 0px !important; bottom: 0px !important; left: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 100% !important; height: 6px !important; display: block !important; z-index: 999998 !important; cursor: s-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;"></div><div id="dmgfA1Y-1599223253653" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: auto !important; bottom: auto !important; left: 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 12px !important; height: 12px !important; display: block !important; z-index: 999998 !important; cursor: nw-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;"></div><div id="eP1HxDB-1599223253653" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: 0px !important; bottom: auto !important; left: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 12px !important; height: 12px !important; display: block !important; z-index: 999998 !important; cursor: ne-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;"></div><div id="YHQqRk6-1599223253653" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: auto !important; right: auto !important; bottom: 0px !important; left: 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 12px !important; height: 12px !important; display: block !important; z-index: 999998 !important; cursor: sw-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;"></div><div id="ZGrHZ9L-1599223253653" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: auto !important; right: 0px !important; bottom: 0px !important; left: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 12px !important; height: 12px !important; display: block !important; z-index: 999999 !important; cursor: se-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;"></div><iframe id="DNsnR2y-1599223253689" src="~/ChoQueVN/saved_resource(4).html" frameborder="0" scrolling="no" title="chat widget" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; position: fixed !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 378px !important; height: 233px !important; display: none !important; z-index: 999999 !important; cursor: auto !important; float: none !important; border-radius: unset !important; pointer-events: auto !important; bottom: 50px !important; top: auto !important; right: 10px !important; left: auto !important;"></iframe></div>
    <script src="chrome-extension://lmnganadkecefnhncokdlaohlkneihio/enable.js"></script>
</body>
</html>